{% extends 'presentation/base.html' %}

{% block title %}Profile{% endblock %}

{% block css_style %}
ul#main_menu li#profile a {
    background: orange;
    padding-top: 20px;
}
{% endblock %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td><label>Username</label></td><td><label>{{ user.username }}</label></td>
        </tr>
        <tr>
            <td><label>First name</label></td><td><label>{{ user.first_name }}</label></td>
        </tr>
        <tr>
            <td><label>Last name</label></td><td><label>{{ user.last_name }}</label></td>
        </tr>
        <tr>
            <td><label>Email</label></td><td><label>{{ user.email }}</label></td>
        </tr>
    </tbody>
</table>
{% endblock %}